﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*Styles.Render("~/Content/Bootstrap/css/bootstrap.css")
        @Scripts.Render("~/Content/Bootstrap/js/bootstrap.js")*@
    @*<link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/bootstrap.css")" />*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard Mahasiswa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (Session["RoleCode"] != null && Session["RoleCode"].ToString() != "")
                    {
                        if (Session["RoleCode"].ToString() == "admin")
                        {
                            <li>@Html.ActionLink("Dashboard", "Index_admin", "Home")</li>
                        }
                        else if (Session["RoleCode"].ToString() == "user")
                        {
                            <li>@Html.ActionLink("Dashboard", "Index_user", "Home")</li>
                        }
                        <li>@Html.ActionLink("Mahasiswa", "Index", "Mahasiswa")</li>
                        <li style="float:right">
                            <a href="@Url.Action("Logout", "Mahasiswa")">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                Logout
                            </a>
                        </li>

                        <li style="float:right">
                            <a href="#" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                @Session["Name"].ToString()
                            </a>
                            <div class="dropdown-menu dropdown-menu-right pull-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="~/Mahasiswa/Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a>
                            </div>
                        </li>



                    }
                </ul>
                
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
