﻿@model Mahasiswa.Models.UserModel

@if (Session["Name"] != null && Session["Name"].ToString() != "")
{
    <html>
    <head>
        <title>Page Admin</title>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <h1>Welcome @Session["Name"].ToString()</h1>
    </body>
</html>
}
else
{
<div class="container" style="margin-top:50px;">
    <div class="col-md-12">
        <div class="row">
            <center>
                <div class="card" style="width: 46rem;">
                    <div class="card-header">
                        <h3>Maaf autentikasi tidak diketahui! Silahkan Login kembali</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-danger" href="~/Mahasiswa/Login">Login</a>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
}
