﻿@model Mahasiswa.Models.UserModel


@if (Session["Name"] != null && Session["Name"].ToString() != "")
{
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <h1>Welcome @Session["Name"].ToString()</h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Username : @Session["Username"].ToString() </h5>
            <p class="card-text">Gender : @Session["Gender"].ToString()</p>
            <p class="card-text">Date Of Birth : @Session["DateOfBirth"].ToString()</p>
            <p class="card-text">Email : @Session["Email"].ToString()</p>
        </div>
    </div>
}
else
{
    <div class="container" style="margin-top:50px;">
        <div class="col-md-12">
            <div class="row">
                <center>
                    <div class="card" style="width: 46rem;">
                        <div class="card-header">
                            <h3>Maaf autentikasi tidak diketahui! Silahkan Login kembali</h3>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-danger" href="~/Mahasiswa/Login">Login</a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
}
