﻿@model Mahasiswa.Models.Employee
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Content/jquery/jquery-3.6.0.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

    <title>List Employee</title>
</head>
<body>
    <div class="container">
        <h2>Employee List</h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">Add New Employee</button>
        <p></p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align:center;width:auto;">ID</th>
                    <th style="text-align:center;width:auto;">Name</th>
                    <th style="text-align:center;width:auto;">Age</th>
                    <th style="text-align:center;width:auto;">State</th>
                    <th style="text-align:center;width:auto;">Country</th>
                    <th style="text-align:center;width:auto;">Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>

    @*Modal*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-group">
                            <label for="EmployeeId">ID</label>
                            <input type="text" name="EmployeeId" class="form-control" id="EmployeeID" placeholder="Id" disabled="disabled" />
                        </div>
                        <p id="nama"></p>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" name="Name" class="form-control" id="Name" placeholder="Name" autofocus="autofocus" />
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="Age">Age</label>
                            <input type="tel" pattern="^([1-8][0])$" name="Age" class="form-control" id="Age" placeholder="Age"  />
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="State">State</label>
                            <input type="text" name="State" class="form-control" id="State" placeholder="State" />
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <input type="text" name="Country" class="form-control" id="Country" placeholder="Country" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            // Load Data
            loadData();
        });

        // Load Data function
        function loadData() {
            $.ajax({
                url: "/Employee/ViewListModal",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td style="text-align:center;width:auto;">' + item.EmployeeID + '</td>';
                        html += '<td>' + item.Name + '</td>';
                        html += '<td style="text-align:center;width:auto;">' + item.Age + '</td>';
                        html += '<td>' + item.State + '</td>';
                        html += '<td>' + item.Country + '</td>';
                        html += '<td style="text-align:center;width:fit-content;"><a class="btn btn-warning" href="#" onclick="return GetId(' + item.EmployeeID + ')">Edit</a>&nbsp;<a class="btn btn-danger" href="#" onclick="Delete(' + item.EmployeeID + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('.tbody').append(html);
                    console.log($('.tbody').html(html));
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        // Add Data Function
        function Add() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                EmployeeID: $('#EmployeeID').val(),
                Name: $('#Name').val(),
                Age: $('#Age').val(),
                State: $('#State').val(),
                Country: $('#Country').val()
            };
            console.log(empObj);
            $.ajax({
                url: "/Employee/CreateViaModal",
                data: JSON.stringify(empObj),
                type: 'POST',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $('#myModal').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        // Get Id function
        function GetId(empID) {
            $('#Name').css('border-color', 'lightgrey');
            $('#Age').css('border-color', 'lightgrey');
            $('#State').css('border-color', 'lightgrey');
            $('#Country').css('border-color', 'lightgrey');
            $.ajax({
                url: "/Employee/Detail/" + empID,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#EmployeeID').val(result.EmployeeID);
                    $('#Name').val(result.Name);
                    $('#Age').val(result.Age);
                    $('#State').val(result.State);
                    $('#Country').val(result.Country);

                    $('#myModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }

        // Function for updating employee's record
        function Update() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                EmployeeID: $('#EmployeeID').val(),
                Name: $('#Name').val(),
                Age: $('#Age').val(),
                State: $('#State').val(),
                Country: $('#Country').val(),
            };
            $.ajax({
                url: "/Employee/Edit",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $('#myModal').modal('hide');
                    $('#EmployeeID').val("");
                    $('#Name').val("");
                    $('#Age').val("");
                    $('#State').val("");
                    $('#Country').val("");
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        // Function Delete
        function Delete(ID) {
            var del = confirm("Are you sure want to delete this record? ");
            if (del) {
                $.ajax({
                    url: "/Employee/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loadData();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }



        //Function for clearing the textboxes
        function clearTextBox() {

            $("#myModal").modal('show');

            $('#Name').val("");
            $('#Age').val("");
            $('#State').val("");
            $('#Country').val("");
            $('#btnUpdate').hide();
            $('#btnAdd').show();
            $('#Name').css('border-color', 'lightgrey');
            $('#Age').css('border-color', 'lightgrey');
            $('#State').css('border-color', 'lightgrey');
            $('#Country').css('border-color', 'lightgrey');
        }

        //Validation
        //Valdidation using jquery
        function validate() {

            var isValid = true;
            if ($('#Country').val().trim() == "") {
                $('#Country').css('border-color', 'Red');
                Swal.fire(
                    'The <b>Country</b> cannot be empty',
                    'Please fill the column!',
                    'error'
                );
                isValid = false;
            }
            else {
                var huruf = /^[a-zA-Z ]+$/;
                var nama = $('#Country').val();
                if (nama.match(huruf)) {
                    $('#Country').css('border-color', 'lightgrey');
                } else {
                    Swal.fire(
                        'The <b>Country</b> must be filled by Alphablet',
                        'Please fill the column with correct!',
                        'error'
                    );
                    isValid = false;
                }
                
            }
            if ($('#State').val().trim() == "") {
                $('#State').css('border-color', 'Red');
                Swal.fire(
                    'The <b>State</b> cannot be empty',
                    'Please fill the column!',
                    'error'
                );
                isValid = false;
            }
            else {
                var huruf = /^[a-zA-Z ]+$/;
                var nama = $('#State').val();
                if (nama.match(huruf)) {
                    $('#State').css('border-color', 'lightgrey');
                } else {
                    Swal.fire(
                        'The <b>State</b> must be filled by Alphablet',
                        'Please fill the column with correct!',
                        'error'
                    );
                    isValid = false;
                }
            }
           
            var min = 2;
            var max = 3
            if ($('#Age').val().length < min || $('#Age').val().length > max  ) {

                $('#Age').css('border-color', 'Red');
                Swal.fire(
                    'Length of <b>Age</b> must be between 2 and 3',
                    'Please fill column with correct!',
                    'error'
                );
                var input = $('#Age').val();
                var panjang = input.length;
                var c;
                for (var i = 0; i < panjang; i++) {
                    c = input.charAt(i).charCodeAt(0);
                    if (c < 48 || c > 57) {
                        Swal.fire(
                            'The <b>Age</b> must be filled by numeric',
                            'Please fill column with correct!',
                            'error'
                        );
                    }
                }
                isValid = false;
            }          
            else {
                $('#Age').css('border-color', 'lightgrey');
            }
            if ($('#Age').val().trim() == "") {
                $('#Age').css('border-color', 'Red');
                Swal.fire(
                    'The <b>Age</b> cannot be empty',
                    'Please fill the column!',
                    'error'
                );

                isValid = false;
            }
            else {
                $('#Age').css('border-color', 'lightgrey');
            }
            if ($('#Name').val().trim() == "") {
                $('#Name').css('border-color', 'Red');
                Swal.fire(
                    'The <b>Name</b> cannot be empty',
                    'Please fill the column!',
                    'error'
                );
                isValid = false;

            }
            else {
                var huruf = /^[a-zA-Z ]+$/;
                var nama = $('#Name').val();
                if (nama.match(huruf)) {
                    $('#Name').css('border-color', 'lightgrey');
                } else {
                    Swal.fire(
                        'The <b>Name</b> must be filled by Alphablet',
                        'Please fill the column with correct!',
                        'error'
                    );
                    isValid = false;
                }
                
            }


            return isValid;
        }
    </script>
</body>
</html>
