﻿@model Mahasiswa.Models.MahasiswaModel
@using Mahasiswa.Models
@{
    MahasiswaModel mahasiswa = ViewBag.delete;
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MahasiswaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nim)
        </dt>

        <dd>
            @ViewBag.nim
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nama)
        </dt>

        <dd>
            @ViewBag.nama

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jurusan)
        </dt>

        <dd>
            @ViewBag.jurusan

        </dd>
        <dt>
            <label>Uploaded File</label>
        </dt>

        <dd>
            <img src="@Url.Content(ViewBag.path)" width="250" height="250" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
