﻿@model Mahasiswa.Models.MahasiswaModel
@using Mahasiswa.Models
@{

}
<div>
    <h4>Detail Mahasiswa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nim)
        </dt>

        <dd>
            @ViewBag.nim
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nama)
        </dt>

        <dd>
            @ViewBag.nama
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jurusan)
        </dt>

        <dd>
            @ViewBag.jurusan

        </dd>
        <dt>
            <label>Uploaded File</label>
        </dt>

        <dd>
            <img src="@Url.Content(ViewBag.path)" width="250" height="250" />
        </dd>

    </dl>
</div>
<p>
    @if (Session["RoleCode"].ToString() == "admin")
    {
        @Html.ActionLink("Edit", "Edit", new { nim = ViewBag.nim })
    } |
    @Html.ActionLink("Back to List", "Index")
</p>
