﻿@model Mahasiswa.Models.MahasiswaModel
@using Mahasiswa.Models
@{
    MahasiswaModel mahasiswa = ViewBag.edit;
}

@using (Html.BeginForm("Edit", "Mahasiswa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Mahasiswa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

         @Html.HiddenFor(model => model.nim, new {@Value = mahasiswa.nim, @nim =  "nim"})
        <div class="form-group">
            @Html.LabelFor(model => model.nama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nama, new { htmlAttributes = new { @Value = mahasiswa.nama, @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.jurusan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jurusan, new { htmlAttributes = new { @Value = mahasiswa.jurusan, @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.jurusan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFileEdit" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
